Flask==1.1.1
Jinja2==2.10.3
# python模板系统
itsdangerous==1.1.0
# 用于加密
click==6.7
# 用于快速创建命令行
MarkupSafe==1.1.1
pyOpenSSL==19.0.0
httplib2==0.14.0
wtforms==2.2.1
Flask-RESTful==0.3.7
Flask-Login==0.4.1
Flask-OAuthLib==0.9.5
# pin this until https://github.com/lepture/flask-oauthlib/pull/388 is released
requests-oauthlib>=0.6.2,<1.2.0
Flask-SQLAlchemy==2.4.1
Flask-Migrate==2.5.2
flask-mail==0.9.1
flask-talisman==0.7.0
Flask-Limiter==0.9.3
passlib==1.7.1
aniso8601==8.0.0
# 处理日期
blinker==1.4
# Blinker是一个基于Python的强大的信号库，支持一对一、一对多的订阅发布模式，支持发送任意大小的数据等等，且线程安全
psycopg2==2.8.3
python-dateutil==2.8.0
pytz>=2019.3
# pytz模块常用于时区的转换，常常配合datetime一起使用
PyYAML==5.1.2
# 一个专门针对YAML文件操作的模块
redis==3.3.11
requests==2.21.0
SQLAlchemy==1.3.10
# We can't upgrade SQLAlchemy-Searchable version as newer versions require PostgreSQL > 9.6, but we target older versions at the moment.
SQLAlchemy-Searchable==0.10.6
# We need to pin the version of pyparsing, as newer versions break SQLAlchemy-Searchable-10.0.6 (newer versions no longer depend on it)
pyparsing==2.3.0
SQLAlchemy-Utils==0.34.2
sqlparse==0.3.0
# 用于解析sql的模块
statsd==3.3.0
gunicorn==19.9.0
# Gunicorn(Green Unicorn)是给Unix用的WSGI HTTP 服务器
rq==1.1.0
rq-scheduler==0.9.1
jsonschema==3.1.1
RestrictedPython==5.0
pysaml2==4.8.0
pycrypto==2.6.1
funcy==1.13
sentry-sdk>=0.12.2,<0.13.0
semver==2.8.1
xlsxwriter==1.2.2
# xlsxwriter模块主要用来生成excel表格，插入数据、插入图标等表格操作
pystache==0.5.4
# Mustache 是一个轻逻辑的模板语言（ Logic-less templates），mustache 是一个js模板,用于展示和js分离
parsedatetime==2.4
PyJWT==1.7.1
# PyJWT 是一个用来编码和解码 JWT（JSON Web Tokens） 的 Python 库，也可以用在 Flask 。PyJWT 用来实现基于 Token 的用户认证授权
cryptography==2.8
# python加密库
simplejson==3.16.0
ua-parser==0.8.0
# 对user_agent进行 解析
user-agents==2.0
maxminddb-geolite2==2018.703
pypd==1.1.0
disposable-email-domains>=0.0.52
# his repo contains a list of disposable and temporary email address domains often used to register dummy users in order to spam or  abuse some services.
gevent==1.4.0
# Gevent是一种基于协程的Python网络库，它用到Greenlet提供的，封装了libevent事件循环的高层同步API。它让开发者在不改变编程习惯的同时，用同步的方式写异步I/O的代码
supervisor==4.1.0
# Supervisor是进程管理程序，能将一个普通的命令行进程变为后台daemon，并监控进程状态，异常退出时能自动重启。
supervisor_checks==0.8.1
werkzeug==0.16.1
# 作为一个 Web 框架的底层库，因为它封装好了很多 Web 框架的东西
# Install the dependencies of the bin/bundle-extensions script here.
# It has its own requirements file to simplify the frontend client build process
-r requirements_bundles.txt
# Uncomment the requirement for ldap3 if using ldap.
# It is not included by default because of the GPL license conflict.
# ldap3==2.2.4
